.card {
  background: color(white);
  border-radius: 5px;
  border: none;
  box-shadow: 3px 2px 11px rgba(78, 55, 210, 0.07);
  height: 100%;
}

.csr-card {
  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
    padding-top: 5rem;
    .title {
      margin-bottom: 3rem;
      width: 200px;
    }
    .subtitle {
      margin-bottom: 5rem;
    }
  }

  &__icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 12rem;
    justify-content: center;
    width: 12rem;
  }

  &__header {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 5rem;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: -2.5rem;
    transform: translateX(-50%);
    width: 5rem;
  }

  &--c {
    &-purple {
      .csr-card {
        &__header {
          background: color(purple);
        }
        &__icon {
          background: rgba(color(purple), 0.1);

          svg {
            path {
              fill: color(purple);
            }
          }
        }
      }
    }

    &-green {
      .csr-card {
        &__header {
          background: color(green);
        }
        &__icon {
          background: rgba(color(green), 0.1);

          svg {
            path {
              fill: color(green);
            }
          }
        }
      }
    }

    &-yellow {
      .csr-card {
        &__header {
          background: color(yellow);
        }
        &__icon {
          background: rgba(color(yellow), 0.1);
          svg {
            path {
              fill: color(yellow);
            }
          }
        }
      }
    }

    &-red {
      .csr-card {
        &__header {
          background: color(red);
        }
        &__icon {
          background: rgba(color(red), 0.1);

          svg {
            path {
              fill: color(red);
            }
          }
        }
      }
    }
  }
}

.explore-card {
  &__header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
  }

  &__body {
    padding: 3rem;
  }
}

.product-card {
  &__body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem 3rem;
    height: 100%;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      margin-bottom: 3rem;
    }
    .subtitle {
      margin-bottom: 6rem;
    }
  }

  &__icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-bottom: 6rem;
    width: 5rem;
    img {
      width: 9rem;
    }
  }

  &__link {
    align-items: center;
    border-radius: 50%;
    border: 3px solid rgba(color(offDark), 0.2);
    display: flex;
    height: 4rem;
    justify-content: center;
    transition: all 0.2s;
    width: 4rem;
    &:hover {
      border-color: rgba(color(offDark), 1);
    }
  }

  // &--c {
  //   &-purple {
  //     .product-card {
  //       &__link {
  //         border-color: rgba(color(purple), 0.2);
  //         &:hover {
  //           border-color: rgba(color(purple), 1);
  //         }
  //       }
  //       &__icon {
  //         background: rgba(color(purple), 0.1);

  //         svg {
  //           path {
  //             fill: color(purple);
  //           }
  //         }
  //       }
  //     }
  //   }

  //   &-green {
  //     .product-card {
  //       &__link {
  //         border-color: rgba(color(green), 0.2);
  //         &:hover {
  //           border-color: rgba(color(green), 1);
  //         }
  //       }
  //       &__icon {
  //         background: rgba(color(green), 0.1);

  //         svg {
  //           path {
  //             fill: color(green);
  //           }
  //         }
  //       }
  //     }
  //   }

  //   &-yellow {
  //     .product-card {
  //       &__link {
  //         border-color: rgba(color(yellow), 0.2);
  //         &:hover {
  //           border-color: rgba(color(yellow), 1);
  //         }
  //       }
  //       &__icon {
  //         background: rgba(color(yellow), 0.1);

  //         svg {
  //           path {
  //             fill: color(yellow);
  //           }
  //         }
  //       }
  //     }
  //   }

  //   &-red {
  //     .product-card {
  //       &__link {
  //         border-color: rgba(color(red), 0.2);
  //         &:hover {
  //           border-color: rgba(color(red), 1);
  //         }
  //       }
  //       &__icon {
  //         background: rgba(color(red), 0.1);

  //         svg {
  //           path {
  //             fill: color(red);
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

.service-card {
  &__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: 4rem;

    .title {
      margin-bottom: 3rem;
    }

    .subtitle {
      margin-bottom: 4rem;
      padding: 4px;
    }

    .link {
      font-size: 1.4rem;
      font-weight: 600;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
  }

  &__img {
    height: 16rem;
    margin-bottom: 2rem;
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-radius: 3px;
    }
  }
}
