.cf {
  background: color(lightPurple);
  padding: 9rem 0;

  &__title {
    margin-bottom: 5rem;
    width: 330px;
    @include respond('sm') {
      width: auto;
    }

    @include respond('xs') {
      width: auto;
    }
  }

  &__info {
    margin-bottom: 4rem;
    &__item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }

      .icon {
        margin-right: 1.5rem;
        width: 2.5rem;
      }

      .texts {
        display: flex;
        flex-direction: column;
        .text {
          margin-bottom: 3px;
        }
      }
    }
  }

  &__card {
    background: color(white);
    box-shadow: 0px 3px 11px rgba(78, 55, 210, 0.1);
    border-radius: 5px;
    padding: 3rem 5rem;
  }
}
