// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  box-sizing: border-box;
  font-family: $main-font;
  font-size: $default-font-size;
  line-height: 1.4;
}

* {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.pt-10 {
  padding-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.map {
  height: 624px;
  background-color: color(black);
  &__image {
    width: 100%;
  }
}

.map_custom {
  height: auto;
  opacity: 0.5;
  &__image {
    width: 100%;
    background-color: color(black);
  }
}

.dropdown-item {
  font-size: 1.5rem !important;
  padding: 1rem 1.5rem !important;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99999999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.instagram {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}
.badge-pill {
  padding: 5px;
}

.modal-body {
  padding: 0 !important;
  min-height: 300px;
}

// .pt40 {
// padding-top: 40px;
// }
.modal-content {
  border-radius: 0 !important;
  min-height: 300px;
}

.modal-body-content {
  text-align: center;
  padding-right: 30px;
}

.modal-content-ct {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.close {
  color: #fff;
  right: 50px !important;
  top: 50px !important;
}

.section .symbol--left,
.section .symbol--right {
  z-index: 0 !important;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.badge_a {
  color: 'green';
  text-decoration: 'none';
  background-color: 'white';
}

.badge_main {
  display: 'flex';
  flex-direction: 'column';
}

.img-fill {
  min-width: -webkit-fill-available;
}
